/* Other rules */
* {
  box-sizing: border-box;
}

.header {
  height: 100px;
  width: auto;
  background-color: #333333;
  display: flex;
  justify-content: center;
  margin-bottom: 88px;
}

h1 {
  color: white;
  font-size: 40px;
}

.jobs {
  width: 1020px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 17px;
  margin-bottom: 60px;
}

.red {
  border: 10px solid red;
}

.green {
  border: 10px solid green;
}

.yellow {
  border: 10px solid yellow;
}

.blue {
  border: 10px solid blue;
}

.pink {
  border: 10px solid #f8c5af;
}

.topJob {
  font-size: 30px;
  font-weight: 400;
}

.bottomJob {
  font-size: 18px;
  font-weight: 400;
}

.footer {
  height: 63px;
  width: auto;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.footer span {
  font-weight: 700;
}

@media (max-width: 1024px) {
  .jobs {
    width: auto;
  }
}
